/**
 * Testimonial
 */
.testimonial-link {
    display: block;
    height: 100%;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.875rem;
    height: 100%;
    gap: 1.5rem;
    border-radius: 0.625rem;
    border: 1px solid var(--gm-color-black-15);
    background-color: var(--gm-color-black-08);
}

.testimonial__title {
    
}

.testimonial__body {
    margin-bottom: 0;
    color: var(--gm-color-white);
}

.testimonial__author-container {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.testimonial__author-pic-frame {
    margin-bottom: 0;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: var(--gm-color-black);
    overflow: hidden;
}

.testimonial__author-name {
    margin-bottom: 0;
    color: var(--gm-color-white);
}

/**
 * Star Rating
 */
.star-rating {
    display: flex;
    gap: 0.5rem;
}

.star-rating__star {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid var(--gm-color-black-15);
    border-radius: 50%;
    background-color: var(--gm-color-black-10);
    color: var(--gm-color-yellow);
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {
    .testimonial {
        gap: 1.875rem;
        padding: 2.5rem;
    }

    .testimonial__btn {
        width: auto;
    }

    .star-rating__star {
        width: 2.375rem;
        height: 2.25rem;
    }

    .testimonial__author-name {
        font-size: 1.125rem;
    }
}

@media (min-width: 1600px) {
    /**
     * Testimonial
     */
    .testimonial {
        gap: 2.5rem;
        padding: 3.125rem;
    }

    .testimonial__title {
        margin-bottom: 0.875rem;
    }

    .testimonial__author-container {
        gap: 0.75rem;
    }

    .testimonial__author-pic-frame {
        width: 3.75rem;
        height: 3.75rem;
    }

    .testimonial__author-name {
        font-size: 1.25rem;
    }
    
    /**
     * Rating
     */
    .star-rating {
        gap: 0.625rem;
    }

    .star-rating__star {
        width: 2.75rem;
        height: 2.75rem;
    }
}