.site-footer {
    
}

.site-footer__top {
    padding: 3.125rem 0;
}

.site-footer__top-grid {
    --bs-gutter-y: 3.125rem;
}

.site-footer__logo {
    width: 7.125rem;
}

.site-footer-bottom {
    padding: 1.25rem 0;
    background-color: var(--gm-color-black-10);
}

.site-footer-bottom__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

.site-footer-bottom__left {
    text-align: center;
    color: var(--gm-color-white);
}

/**
 * Columns
 */
.site-footer__menu-col {
    position: relative;
}

.site-footer__menu-col:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 1px;
    background-color: var(--gm-color-black-15);    
}

.site-footer__menu-col:nth-child(odd):after {
    content: '';
    position: absolute;
    top: 1rem;
    right: 0;
    height: calc(100% - 1rem);
    width: 1px;
    background-color: var(--gm-color-black-15);    
}

.site-footer__menu-col-heading {
    color: var(--gm-color-black-60);
}

/* Menus */
.site-footer .menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer .menu li {
    margin-bottom: 0.5rem;
}

.site-footer .menu li:last-child {
    margin-bottom: 0;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: var(--gm-color-black-08);
}

.social-links__icon {
    font-size: 1.25rem;
}

/**
 * Newsletter Form
 */
.newsletter-form {
    position: relative;
    width: 100%;
    margin-top: 1.25rem;
}

.newsletter-form:before {
    content: '\e904';
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translate(0, -50%);
    font-family: 'icomoon';
    font-size: 1.25rem;
}

.newsletter-form__input {
    padding-left: 3rem;
}
.newsletter-form__submit {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translate(0, -50%);
    font-family: 'icomoon';
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--gm-color-white);
}

.newsletter-form__submit:before {
    content: '\e908';
}

@media (min-width: 768px) {}
@media (min-width: 1200px) {
    /**
     * Site Footer Menu
     */
    .row > .site-footer__menu-col {
        width: 20%;
    }

    .site-footer__menu-col:before,
    .site-footer__menu-col:nth-child(odd):after {
        content: none;
    }

    /**
     * Site Footer Bottom
     */
    .site-footer-bottom__inner {
        flex-direction: row;
        justify-content: space-between;
    }

    .site-footer-bottom__left {
        display: flex;
        gap: 1.25rem;
        flex: 1;
        text-align: left;
    }

    .site-footer-bottom__left p {
        margin-bottom: 0;
    }

    /**
     * Social Links
     */
    .social-links__link {
        transition-property: background-color, color;
        transition-duration: 0.3s;
    }

    .social-links__link:hover {
        background-color: var(--gm-color-white);
        color: var(--gm-color-black);
    }

    /**
     * Newsletter Form
     */
    .newsletter-form {
        max-width: 20rem;
    }
}
@media (min-width: 1600px) {}